<router-outlet></router-outlet>
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listado Actores</title>

  </head>
  <body>

  <main role="main">
  <app-nav></app-nav>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Listado Actores</h1>
      <p>Este es el listado de los actores  que protagonizan las películas emitidas.</p>
        <app-tabla-actor (eventoActorSeleccionado)="emitirActor($event)"></app-tabla-actor>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <app-tabla-pelicula [listadoPeliculas]="peliculasPorActor"></app-tabla-pelicula>
      </div>
      <div class="col-md-4">
        <app-detalle-nacionalidad [pais]="paisActor"></app-detalle-nacionalidad>
      </div>
      <div class="col-md-3">
        <app-detalle-actor [actorSeleccionado]="actorSeleccionado"></app-detalle-actor>
      </div>
    </div>
    <hr>
  </div> <!-- /container -->
</main>


<app-footer></app-footer>
</body>
</html>
