<table class="table table-striped" *ngIf="listadoPizzas != undefined">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Ingrediente</th>
        <th scope="col">Precio</th>
        <th scope="col">Peso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of listadoPizzas" (click)="onPizzaSeleccionada(pizza)">
        <td>{{pizza.nombre}}</td>
        <td>{{pizza.ingredientes}}</td>
        <td>{{pizza.precio}}</td>
        <td>{{pizza.peso}}</td>
        <td><button *ngIf="mostrarBoton" class="btn btn-dark">Seleccionar</button></td>
      </tr>
    </tbody>
  </table>
