<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tabla Peliculas</title>

  </head>
  <body>

  <main role="main">
  <app-nav></app-nav>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Peliculas</h1>
      <p>Selecciona la pelicula que quieres ver, editar o borrar</p>

      <app-tabla-pelicula [listadoPeliculas]="peliculas" (peliculaSeleccionada)="mostrarPelicula($event)"></app-tabla-pelicula>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
       <app-detalle-pelicula  *ngIf="hayPeliculaAmostrar" [peliculaMostrar]="peliculaMostrar"></app-detalle-pelicula>
      </div>
      <div class="col-md-6">
        <app-modificar-pelicula (onPeliculaAModificar)="modificarPelicula($event)" *ngIf="hayPeliculaAmostrar" [peliculaMostrar]="peliculaMostrar"></app-modificar-pelicula>
      </div>
      <div class="col-md-2">
        <app-borrar-pelicula (onPeliculaABorrar)="borrarPelicula($event)" [peliculaMostrar]="peliculaMostrar" *ngIf="hayPeliculaAmostrar"></app-borrar-pelicula>
      </div>
    </div>
    <hr>
  </div> <!-- /container -->

</main>

<app-footer></app-footer>
</body>
</html>
