<router-outlet></router-outlet>

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Macarena Ferrero">
    <title>Alta Actores</title>
  </head>
  <body >
    <main role="main">
    <div class="container" >


      <div class="row mt-10 pt-5">
        <div class="col-md-4 order-md-2 mb-4">
      <app-nav></app-nav>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted mt-5">Nacionalidad</span>
      </h4>
      <app-tabla-paises (eventoPaisSeleccionado)="mostrarPais($event)"></app-tabla-paises>

    </div>
    <div class="col-md-8 order-md-1">
      <h1 class="display-3 mt-3">Alta Actor</h1>
      <form [formGroup]="formAltaActor" (ngSubmit)="enviarForm()" >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="" required formControlName="nombre">
            <span *ngIf="formAltaActor.get('nombre')?.hasError('required') && formAltaActor.get('nombre')?.touched" class="text-danger form-floating">El nombre es requerido</span>
            <span *ngIf="formAltaActor.get('nombre')?.hasError('pattern')" class="text-danger form-floating">El nombre es inválido</span>

          </div>
          <div class="col-md-6 mb-3">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="Apellido" value="" required formControlName="apellido">
            <span *ngIf="formAltaActor.get('apellido')?.hasError('required') && formAltaActor.get('apellido')?.touched" class="text-danger form-floating">El apellido es requerido</span>
            <span *ngIf="formAltaActor.get('apellido')?.hasError('pattern')" class="text-danger form-floating">El apellido es inválido</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Twitter</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required formControlName="username">
          </div>
          <span *ngIf="formAltaActor.get('username')?.hasError('required') && formAltaActor.get('username')?.touched" class="text-danger form-floating">El usurname es requerido</span>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email" required>
          <span *ngIf="formAltaActor.get('email')?.hasError('required') && formAltaActor.get('email')?.touched" class="text-danger form-floating">El email es requerido</span>
          <span *ngIf="formAltaActor.get('email')?.hasError('email')" class="text-danger form-floating">El email es inválido</span>
        </div>

        <div class="mb-3">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" id="direccion" placeholder="1234 Main St" required formControlName="direccion">
          <span *ngIf="formAltaActor.get('direccion')?.hasError('required') && formAltaActor.get('direccion')?.touched" class="text-danger form-floating">La dirección es requerida</span>
        </div>

        <div class="mb-3">
            <label for="nacionalidad">Nacionalidad</label>
            <input class="form-control" id="nacionalidad" value="{{pais}}" readonly formControlName="nacionalidad">

        </div>
        <button class="btn btn-primary btn-lg btn-block" (click)="registrar()" [disabled]="formAltaActor.invalid" type="submit">Guardar</button>

        <hr class="mb-4">
      </form>
    </div>
  </div>
</div>
</main>
<app-footer></app-footer>
</body>
</html>
