<h2>Modificar Pelicula</h2>
    <div>
     <form >
        <div class="form-group row">
          <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-6">
            <input type="text"  class="form-control" name="nombre" [(ngModel)]= "peliculaMostrar.nombre">
          </div>
        </div>
        <div class="form-group row">
          <label for="tipo" class="col-sm-2 col-form-label">Género</label>
          <div class="col-sm-6">
            <select class="form-control" name="genero" [(ngModel)]= "peliculaMostrar.tipo">
                <option *ngFor="let tipos of opcionestipos" 
                [value]="tipos">{{tipos}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
            <label for="publico" class="col-sm-2 col-form-label">Publico</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="publico" [(ngModel)]= "peliculaMostrar.cantidadPublico">
            </div>
        </div>
        <div class="form-group row">
            <label for="estreno" class="col-sm-2 col-form-label">Estreno</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="estreno" [(ngModel)]= "peliculaMostrar.fechaEstreno">
            </div>
        </div>
        <button class="btn btn-outline-success" (click)="modificarPelicula(peliculaMostrar!)">Guardar</button> 

      </form>
    </div>






