<router-outlet></router-outlet>
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Peliculas/actores</title>

  </head>
  <body>

  <main role="main">
  <app-nav></app-nav>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bienvenidx</h1>
      <p>Aquí podrá ver las peliculas más taquelleras de los últimos tiempos junto con sus actores principales.<br>
        Todos los datos son reales y están actualizados al día de la fecha gracias a usuarios como usted.
      </p>
    </div>
  </div>
</main>

<app-footer></app-footer>
</body>
</html>
