<router-outlet></router-outlet>
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listado Repartidores</title>

  </head>
  <body>

  <main role="main">
  <app-nav></app-nav>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Listado Repartidores</h1>
      <p>Este es el listado de los repartidores activos del local.</p>
        <app-tabla-repartidor (eventoRepartidorSeleccionado)="emitirRepartidor($event)"></app-tabla-repartidor>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-detalle-nacionalidad [pais]="paisRepartidor"></app-detalle-nacionalidad>
      </div>
      <div class="col-md-6">
        <app-detalle-repartidor [repartidorSeleccionado]="repartidorSeleccionado"></app-detalle-repartidor>
      </div>
    </div>
    <hr>
  </div> <!-- /container -->
</main>


<app-footer></app-footer>
</body>
</html>
