<router-outlet></router-outlet>
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PPizzas</title>

  </head>
  <body>

  <main role="main">
  <app-nav></app-nav>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Página no encontrada</h1>
      <p>Corrobore la dirección ingresada.
      </p>
    </div>
  </div>
</main>

<app-footer></app-footer>
</body>
</html>
