<router-outlet></router-outlet>

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Macarena Ferrero">
    <title>Alta Pizza</title>
  </head>
  <body >
    <main role="main">
    <div class="container" >


      <div class="row mt-10 pt-5">
        <div class="col-md-4 order-md-2 mb-4">
      <app-nav></app-nav>
    </div>
    <div class="col-md-8 order-md-1">
      <h1 class="display-3 mt-3">Alta Pizza</h1>
      <p>Ingrese la información solicitada de la pizza que desea ver.</p>
      <form [formGroup]="formAltaPelicula" >

          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="" required formControlName="nombre">
            <span *ngIf="formAltaPelicula.get('nombre')?.hasError('required') && formAltaPelicula.get('nombre')?.touched" class="text-danger form-floating">El nombre es requerido</span>

          </div>
          <div class="mb-3">
            <label for="nombre">Ingredientes</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="" required formControlName="nombre">
            <span *ngIf="formAltaPelicula.get('nombre')?.hasError('required') && formAltaPelicula.get('nombre')?.touched" class="text-danger form-floating">El nombre es requerido</span>

          </div>

          <div class="mb-3">
            <label for="cantidadPublico">Publico</label>
            <input type="number" class="form-control" name="cantidadPublico" placeholder="0" formControlName="cantidadPublico">
            <span *ngIf="formAltaPelicula.get('cantidadPublico')?.hasError('required') && formAltaPelicula.get('cantidadPublico')?.touched" class="text-danger form-floating">La cantidad de público es requerida</span>
          </div>

        <div class="mb-3">
          <label for="fechaEstreno">Estreno</label>
          <input type="text" class="form-control" name="fechaEstreno" placeholder="12/11/1992" formControlName="fechaEstreno">
          <span *ngIf="formAltaPelicula.get('fechaEstreno')?.hasError('required') && formAltaPelicula.get('fechaEstreno')?.touched" class="text-danger form-floating">La fecha de estreno es requerida</span>
        </div>

        <div class="mb-3">
          <label for="fotoPelicula">Foto Película<span class="text-muted"> (Opcional)</span></label>
          <input placeholder="Inserte URL" type="text" class="form-control" formControlName="fotoPelicula">
      </div>


        <button class="btn btn-primary btn-lg btn-block" (click)="registrar()"  [disabled]="formAltaPelicula.invalid" type="submit">Guardar</button>

        <hr class="mb-4">

      </form>
    </div>
  </div>
</div>
</main>
<app-footer></app-footer>
</body>
</html>
