<router-outlet></router-outlet>

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Macarena Ferrero">
    <title>Alta Pizza</title>
  </head>
  <body >
    <main role="main">
    <div class="container" >


      <div class="row mt-10 pt-5">
        <div class="col-md-4 order-md-2 mb-4">
      <app-nav></app-nav>
    </div>
    <div class="col-md-8 order-md-1">
      <h1 class="display-3 mt-3">Alta Pizza</h1>
      <p>Ingrese la información solicitada de la pizza que desea ver.</p>
      <form [formGroup]="formAltaPizza" >

          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" value="" required formControlName="nombre">
            <span *ngIf="formAltaPizza.get('nombre')?.hasError('required') && formAltaPizza.get('nombre')?.touched" class="text-danger form-floating">El nombre es requerido</span>

          </div>
          <div class="mb-3">
            <label for="ingredientes">Ingredientes</label>
            <input type="text" class="form-control" id="ingredientes" value="" required formControlName="ingredientes">
            <span *ngIf="formAltaPizza.get('ingredientes')?.hasError('required') && formAltaPizza.get('ingredientes')?.touched" class="text-danger form-floating">El ingrediente es requerido</span>

          </div>

          <div class="mb-3">
            <label for="peso">Peso</label>
            <input type="number" class="form-control" name="peso" placeholder="0" formControlName="peso">
            <span *ngIf="formAltaPizza.get('peso')?.hasError('required') && formAltaPizza.get('peso')?.touched" class="text-danger form-floating">el peso es requerido</span>
          </div>

        <div class="mb-3">
          <label for="precio">Precio</label>
          <input type="text" class="form-control" name="precio" placeholder="12/11/1992" formControlName="precio">
          <span *ngIf="formAltaPizza.get('precio')?.hasError('required') && formAltaPizza.get('precio')?.touched" class="text-danger form-floating">El precio es requerido</span>
        </div>

        <button class="btn btn-primary btn-lg btn-block" (click)="registrar()"  [disabled]="formAltaPizza.invalid" type="submit">Guardar</button>

        <hr class="mb-4">

      </form>
    </div>
  </div>
</div>
</main>
<app-footer></app-footer>
</body>
</html>
