<h2>Modificar Pelicula</h2>
    <div>
     <form [formGroup]="formModificarPelicula">
        <div class="form-group row">
          <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-6">
            <input type="text"  class="form-control" name="nombre" [(ngModel)]= "peliculaMostrar.nombre" formControlName="nombre">
            <span *ngIf="formModificarPelicula.get('nombre')?.hasError('required') && formModificarPelicula.get('nombre')?.touched" class="text-danger form-floating">El nombre es requerido</span>

          </div>
        </div>
        <div class="form-group row">
          <label for="tipo" class="col-sm-2 col-form-label">Género</label>
          <div class="col-sm-6">
            <select class="form-control" name="tipo" [(ngModel)]= "peliculaMostrar.tipo" formControlName="tipo">
                <option *ngFor="let tipos of opcionestipos"
                [value]="tipos">{{tipos}}</option>
            </select>
            <span *ngIf="formModificarPelicula.get('tipo')?.hasError('required') && formModificarPelicula.get('tipo')?.touched" class="text-danger form-floating">El tipo es requerido</span>

          </div>
        </div>
        <div class="form-group row">
            <label for="cantidadPublico" class="col-sm-2 col-form-label">Publico</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="cantidadPublico" [(ngModel)]= "peliculaMostrar.cantidadPublico" formControlName="cantidadPublico">
                <span *ngIf="formModificarPelicula.get('cantidadPublico')?.hasError('required') && formModificarPelicula.get('cantidadPublico')?.touched" class="text-danger form-floating">La cantidad de público es requerida</span>

              </div>
        </div>
        <div class="form-group row">
            <label for="fechaEstreno" class="col-sm-2 col-form-label">Estreno</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="fechaEstreno" [(ngModel)]= "peliculaMostrar.fechaEstreno" formControlName="fechaEstreno">
                <span *ngIf="formModificarPelicula.get('fechaEstreno')?.hasError('required') && formModificarPelicula.get('fechaEstreno')?.touched" class="text-danger form-floating">La fecha de estreno es requerida</span>

              </div>
        </div>
        <button class="btn btn-outline-success"[disabled]="formModificarPelicula.invalid"  (click)="updatePelicula()">Guardar</button>

      </form>
    </div>






